:root {
  font-family: 'Inter', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  color-scheme: dark;
  background-color: #05070f;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

#app {
  min-height: 100vh;
}
